<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Pods</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="kubeconfig-upload" style="display: none;">
        <h2>Upload Kubeconfig File</h2>
        <input type="file" id="kubeconfig-file" accept="*">
        <button onclick="uploadKubeconfig()">Upload</button>
    </div>

    <div id="main-content" style="display: none;"></div>
    <h1>Kubernetes cluster info: <span id="clusterInfo"></span>    <button onclick="window.location.href='events.html'">Events</button>
    </h1>
    <h2>Persistent Volumes:</h2>
    <button id="togglePVsButton" onclick="togglePVs()">Show Persistent Volumes</button>
    <table id="pvsTable" style="display: none;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>PVC</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table id="nodesTable" style="display: none;">
        <thead>
            <tr>
                <th>Name</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>Node Info</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="toggleButton" onclick="togglePods()">Get Pods</button>
    <select id="namespaceSelect" onchange="fetchPods()">
        <option value="default">default</option>
    </select>
    <table id="podsTable" style="display: none;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Namespace</th>
                <th>Status</th>
                <th>IP</th>
                <th>LoadBalancer IP</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script src="static/index_script.js"></script>

</body>
</html>