<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pod Description</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
<body>
    <h1 id="podName">Pod Description for pod: </h1>
    <div id="podDescription" class="pod-info"></div>
    <!-- Add a back button to index.html -->
     <button id="backButton" onclick="goBack()">Back</button>

    <script src="static/pod_script.js"></script>
</body>
</html>